html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  width: 100%;
  height: 10vh;
  background-color: green;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


.main-container {
  display:flex;
  position: relative;
  top: 0px;
  height: 685px;
  background-color: lightgray;

}

.first-div {
  width: 67vmax;
  height: 685px;
  background-color: aquamarine;
}

.second-div {
  width: 33vmax;
  height: 685px;
  background-color: coral;
}



